@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

/* header start */

header {
  text-align: center;
  border: 2px solid #ccc;
}

nav ul {
  list-style: none;
  padding-left: 0px;
}

nav li {
  display: inline-block;
  padding: 10px 20px;
  /* border: 2px solid black; */
}

nav li a {
  text-decoration: none;
  color: #555;
}

nav li a.active {
  font-weight: 700;
  color: orangered;
}

header h1 {
  text-transform: uppercase;
}

/* header end */

/* footer start */

footer {
  background-color: #f2f2f2;
}

footer p {
  text-align: center;
  padding: 10px;
  margin: 0;
}

/* footer end */

/* banner home */

main#banner {
  background-image: url('../img/jane.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 73vh;
  /* viewport height */
}

/* banner home end */

/* about start */

main#about {
  text-align: center;
  padding: 30px 0;
}

main#about h2 {
  font-size: 30px;
}

main#about img {
  width: 450px;
}

main#about p {
  margin: 30px 0;
  line-height: 35px;
}

main#about cite {
  font-size: 22px;
  display: block;
  font-style: normal;
  font-weight: 700;
}

/* about end */
/* music start */

main#music {
  width: 900px;
  margin: 30px auto;
}

/* music end */

/* contact end */

main#contact {
  width: 900px;
  margin: 30px auto;
}